<%= turbo_frame_tag @member do %>
    <%= bootstrap_form_with(model: @member, url: create_member_format_path, local: true, data: { action: "turbo:submit-end->modal#close" }) do |form| %>
        <div class="member">
            <%= form.text_field :member_name, maxlength: 8, placeholder: "8文字以内", value: @member.member_name %>
            <%= form.hidden_field :member_id, value: @member.member_id %>
            <%= form.hidden_field :group_id, value: @group.group_id %>
        </div>
        <%= form.submit "登録する", class: "btn btn-outline-primary w-100 mb-3" %>
    <% end %>
<% end %>


