<div class="container">
  <h1>warikanApp(仮)</h1>
  <p>このアプリは、グループ内でのお金の立て替えを記録します。</p>
  <p>グループ名と参加するメンバーを入力し登録してください。</p>
  <%= bootstrap_form_with(model: @format, url: formats_path, local: true) do |form| %>
    <div class="group">
      <%= form.text_field :group_name, maxlength: 15, label: "グループ名" %>
    </div>
    <div class="members" id="members">
      <div class="member">
        <%= form.text_field :member_name1, maxlength: 15 %>
        <%= form.hidden_field :group_id, value: @group_id %>
      </div>
    </div>
    <div class="actions">
      <%= form.submit "登録する" %>
    </div>
  <% end %>
  <%= button_tag "追加", id: "add-member" %>
</div>
<script>
  document.addEventListener("turbo:load", function() {
    var addButton = document.getElementById("add-member");
    if (addButton) {
      // 既存のクリックイベントリスナーを解除
      var oldElement = addButton.cloneNode(true);
      addButton.parentNode.replaceChild(oldElement, addButton);

    var membersDiv = document.getElementById("members");
    var memberId = 2; // 最初のメンバー名の入力欄が既に存在しているので、2から始める

    oldElement.addEventListener("click", function() {
      var newMemberDiv = document.createElement("div");
      newMemberDiv.classList.add("member");

      var textField = document.createElement("input");
      textField.setAttribute("type", "text");
      textField.setAttribute("maxlength", 15);
      textField.setAttribute("name", "group_member[member_name" + memberId + "]");
      textField.setAttribute("id", "group_member_member_name" + memberId );
      newMemberDiv.appendChild(textField);

      var groupIdField = document.createElement("input");
      groupIdField.setAttribute("type", "hidden");
      groupIdField.setAttribute("name", "group_member[group_id]");
      groupIdField.setAttribute("id", "group_member_group_id");
      groupIdField.setAttribute("value", "<%= @group_id %>");
      newMemberDiv.appendChild(groupIdField);

      membersDiv.appendChild(newMemberDiv);

      memberId++;
    });
    }
  });
</script>
