<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        グループ名：<%= @group.group_name %>
        <%= link_to '編集', edit_group_format_path(id: @group.group_id) %>
    </div>
    <p class="mt-3 mb-0">メンバー</p>
    <% @members.each do |member| %>
        <div class="member-name"><%= member.member_name %>
        <%= link_to '編集', edit_format_path(id: member.member_id) %>
        <%= link_to '削除', format_path(id: member.member_id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
    <% end %>
    <%= link_to '追加', add_member_format_path(id: @group.group_id) %>
    <p class="mt-3 mb-0">支払い明細</p>
    <% @payments.each do |payment| %>
        <div class="payment"><%= payment.creditor_member.member_name %>⇨<%= payment.debtor_member.member_name %>:<%= payment.amount %>円
        <%= link_to '編集', edit_payment_path(id: payment.payment_id) %>
        <%= link_to '完了', payment_path(id: payment.payment_id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
    <% end %>
    <%= link_to '明細を記録する', payments_new_path(token: @group.token) %>
</body>
</html>
