<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= @group.group_name %>
    <% @members.each do |member| %>
        <div class="member-name"><%= member.member_name %></div>
    <% end %>
    <%= link_to '明細を記録する', payments_new_path(token: @group.token) %>
    <% @payments.each do |payment| %>
        <div class="payment"><%= payment.creditor_member.member_name %>⇨<%= payment.debtor_member.member_name %>:<%= payment.amount %>円</div>
    <% end %>
</body>
</html>
