<%= turbo_frame_tag payment do %>
    <div class="row mt-2">
        <div class="form-check col-1 pe-0">
            <%= check_box_tag "payment_ids[]", payment.id, false, class: "form-check-input", id: "flexCheckDefault#{payment.id}" %>
        </div>
        <div id="creditor_member" class="col-3 ps-0">
            <%= payment.creditor_member.member_name %>
        </div>
        <div class="col-1 p-0">
            <i class="bi bi-arrow-right"></i>
        </div>
        <div id="debtor_member" class="col-3 ps-0">
            <%= payment.debtor_member.member_name %>
        </div>
        <div class="col-2 ps-0">
            ¥<%= number_with_delimiter(payment.amount) %>
        </div>
        <div class="col-1">
            <div class="dropdown">
                <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to edit_payment_path(id: payment.payment_id), class: "dropdown-item edit", data: { turbo_frame: "modal" } do %>
                            編集
                        <% end %>
                    </li>
                    <li>
                        <%= link_to create_event_path(id: payment.payment_id), class: "dropdown-item create-event", data: { turbo_frame: "modal" } do %>
                            Googleカレンダーに登録
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-1">
            <%= link_to payment_path(id: payment.payment_id), data: { turbo_method: :delete, turbo_confirm: "支払いを完了します。"} do %>
                <i class="bi bi-check-circle"></i>
            <% end %>
        </div>
    </div>
<% end %>
