<div id="payments_section">
    <%= turbo_frame_tag "member_select" do %>
        <%= search_form_for(@search, url: group_show_path(token: @group.token), html: { data: {
                turbo_frame: "payment",
                controller: "form",
                action: "input->form#submit"
            }}) do |f| %>
            <%= f.select :creditor_member_member_name_eq,options_for_select([["選択したメンバーの明細だけを表示できます。", ""]] + @members.map { |member| [member.member_name, member.member_name] }, @search.creditor_member_member_name_eq),{}, { class: "form-select" } %>
        <% end %>
    <% end %>
    <%= form_with url: delete_payments_path, method: :delete, data: { turbo_confirm: "選択した支払いを完了しますか？" } do %>
        <div id="payments" class="mt-3">
            <%= turbo_frame_tag "payment" do %>
                <% @payments.each do |payment| %>
                    <%= render partial: "payments/payment", locals: { payment: payment } %>
                <% end %>
            <% end %>
        </div>
        <div class="mt-3">
            <%= submit_tag "まとめて完了", class: "btn btn-outline-success" %>
        </div>
    <% end %>
</div>
