<%= turbo_frame_tag payment do %>
    <div class="row">
        <div id="creditor_member" class="col-3">
            <%= payment.creditor_member.member_name %>
        </div>
        <div id="debtor_member" class="col-3">
            <%= payment.debtor_member.member_name %>
        </div>
        <div class="col-3">
            <%= payment.amount %>
        </div>
        <div class="col-3">
            <%= link_to '編集', edit_payment_path(id: payment.payment_id), data: { turbo_frame: "modal" } %>
            <%= link_to '完了', payment_path(id: payment.payment_id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
    </div>
<% end %>
